# db/my.cnf
[mysqld]
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# Si luego conectas desde contenedores/host y quieres evitar líos:
default_authentication_plugin = caching_sha2_password

# (Opcional) performance básica
innodb_buffer_pool_size = 256M
max_connections = 200